/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
  }
  
  /* Style the canvas */
  #gameCanvas {
    border: 1px solid #d9ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }