/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #ff0000;
  }
  
  /* Style the canvas */
  #gameCanvas {
    border: 1px solid #96a154;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }